<html lang="en">
<%- include('./partials/head'); %>

<body>
    <%- include('./partials/nav'); %>

    <div class="container">
        <h2> Categories </h2>
        <p>Here you can manage your categories.</p>

        <form action='/addcategory' method='POST'>
            <input type="color" name="color" value="#ff0000" required>
            <input type="text" name="new_category" placeholder="Input category name" required>
            <button type="submit">Add Category</button>
        </form>

        <h3> Existing categories </h3>
        <ul>
            <% if (categories.length > 0) { %>
                <% categories.forEach(category => { %>
                    <li style="background-color: <%- category.color %>">
                        <%= category.category %>
                        <form action="/removecategory" method="POST" style="display: inline;">
                            <input type="hidden" name="categorytoRemove" value="<%= category.category %>_<%= category.color %>">
                            <button type="submit" class="remove-btn">X</button>
                        </form>
                    </li>
                <% }) %>
            <% } else { %>
                <li style = "color:#085a83;">No categories yet</li>
            <% } %>
        </ul>

        <form action="/resetcategories" method="POST" style="display: inline;">
            <button type="submit" class="reset">Reset categories</button>
        </form>
    </div>

    <%- include('./partials/footer'); %>
</body>